<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176590618884-chclplbktfsk56voqfklg5ib7vrtdtlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176590618884-chclplbktfsk56voqfklg5ib7vrtdtlf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176590618884-tnldplvi5uqqsg599vdva85c7k39tc1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFlkfDS0u92SKiQfJq4nJoFLdRyjZeAMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>176590618884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asia.firebase.app.dev</string>
	<key>PROJECT_ID</key>
	<string>firejpug-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>firejpug-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176590618884:ios:21241ff19e7f5034</string>
	<key>DATABASE_URL</key>
	<string>https://firejpug-dev.firebaseio.com</string>
</dict>
</plist>